html {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

body table, section, article, tr {
    width: 100%;
}

body table tr {
    width: 100%;
}

#search_td {
    width: 100%;
}

#q {
    width: 99%;
    height: 30px;
    font-size: 25px;
}

#button_row {
    text-align: center;
}

#button_row td {
    padding: 15px;
}

#button_row td input {
    width: 70%;
    height: 60px;
    min-width: 180px;
}

body, td, div, .p, a {
    font-family: arial,sans-serif;
}

nav tr td {
    text-align: center;
}

a {
    color: #0000CC;
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

a:visited {
    color: #551A8B;
}


#body_cluster_canvas {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}


table, tr, dt {
    text-align: left;
}


tr {
    vertical-align: top;
}

td {
    vertical-align: bottom;
}

#about {
    text-align: center;
}

#center {
    text-align: center;
    padding: auto;
}

#center * {
    margin-left: auto;
    margin-right: auto;
}

.about {
    font-size: 11px;
}

.item_title {
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
}

article {
    margin: 2em 0 0 0;   
}

.description_table {
    width: 100%;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 15px;
}

.url, .url:link {
    color: green;
}

#navigation_table {
    font-size: 25px;
}


.loading {
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}